@model List<SFI_Farmacia_Jully.Models.Entity.PresentacionE>
@{
    ViewBag.Title = "Rpresentacion";
}

<body>

    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            @RenderPage("~/Views/Shared/Layout_header.cshtml")

            <!-- Sidebar inner chat end-->
            <div class="pcoded-main-container">

                <div class="pcoded-wrapper">

                    @RenderPage("~/Views/Shared/Layout_aside.cshtml")

                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-body">
                                        <!-- task, page, download counter  start -->

                                        <button class="btn btn-primary d-none d-sm-inline-block" data-toggle="modal" data-target="#modal-cliente">
                                            Registrar Presentacion
                                        </button>
                                        <br />

                                        <div class="modal fade" id="modal-cliente" tabindex="-1">
                                            <div class="modal-dialog bg-white">
                                                <div class="modal-header">

                                                    <p class="text-primary m-0 fw-bold">Registrar Cliente</p>

                                                </div>
                                                <div class="modal-body">
                                                    <form action="~/Propiedades/AgregarPresentacion" method="post">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="registro-docentes"><strong>Presentacion</strong><br /></label>
                                                                    <input type="hidden" id="codigo-cliente" name="IdPresentacion" />
                                                                    <input class="form-control" id="PNombre" name="Presentacion" required />
                                                                </div>
                                                            </div>
                                                           
                                                        </div>
                                                        
                                                        <div class="mb-3">
                                                            <button class="btn btn-primary" type="submit" name="btn-registro-docente" id="btn-registro-docente">Guardar </button>

                                                            <button class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                        </div>

                                                    </form>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="card-shadow mb-5">
                                            <div class="card-header py-3">
                                                <h6 class="text-primary fw-bold m-0">Lista de Presentaciones</h6>
                                            </div>
                                            <div class="card-body">
                                                <!--tabla para informacion de cursos -->
                                                <div class="table-responsive table mt-2" id="tablaCursos" role="grid">

                                                    <table class="table my-0" id="infoPresentacion">

                                                        <thead>
                                                            <tr>
                                                                <th>Codigo</th>
                                                                <th>Presentacion</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var datos in Model)
                                                            {
                                                                <tr>
                                                                    <td>@datos.IdPresentacion</td>
                                                                    <td>@datos.Presentacion </td>
                                                                    
                                                                   
                                                                </tr>

                                                            }
                                                        </tbody>

                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- footer -->
                                        @RenderPage("~/Views/Shared/Layout_footer.cshtml")

                                    </div>
                                </div>

                                <div id="styleSelector">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</body>