@model List<SFI_Farmacia_Jully.Models.Entity.ProveedorE>
@{
    ViewBag.Title = "AgregarProveedor";
}

<body>

    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            @RenderPage("~/Views/Shared/Layout_header.cshtml")

            <!-- Sidebar inner chat end-->
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">

                    @RenderPage("~/Views/Shared/Layout_aside.cshtml")
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-body">
                                        <!-- task, page, download counter  start -->
                                        <div class="card-body">

                                            <button class="btn btn-primary d-none d-sm-inline-block" data-toggle="modal" data-target="#modal-proveedor">
                                                Registrar Proveedor
                                            </button>
                                            <br />

                                            <div class="modal fade" id="modal-proveedor" tabindex="-1">
                                                <div class="modal-dialog bg-white">
                                                    <div class="modal-header">

                                                        <p class="text-primary m-0 fw-bold">Registrar Proveedor</p>

                                                    </div>
                                                    <div class="modal-body">

                                                        <form action="~/Proveedor/Agregar" method="post">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="registro-docentes"><strong>Nombre del proveedor</strong><br /></label>
                                                                        <input class="form-control" id="nombre-proveedor" name="NombreProveedor" required />
                                                                    </div>
                                                                </div>


                                                            </div>
                                                            <div class="row">

                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="registro-docentes"><strong>No.Telefono</strong></label>
                                                                        <input class="form-control" id="telefono" type="text" name="NoTelefono">
                                                                    </div>
                                                                </div>


                                                            </div>

                                                            <div class="row">

                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="registro-docentes"><strong>Dirección</strong></label>
                                                                        <textarea class="form-control" id="direccion" name="DirProveedor" cols="30" rows="4"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="mb-3">
                                                                <button class="btn btn-primary" type="submit">Guardar </button>

                                                                <button class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="card-shadow mb-5">
                                                <div class="card-header py-3">
                                                    <h6 class="text-primary fw-bold m-0">Lista de proveedores</h6>
                                                </div>
                                                <div class="card-body">
                                                    <!--tabla para informacion de cursos -->
                                                    <div class="table-responsive table mt-2" id="tablaCursos" role="grid">


                                                        <table class="table my-0 text-center" id="infoProveedor">
                                                            <thead class="align-center">
                                                                <tr>
                                                                    <th>Codigo del proveedor</th>
                                                                    <th>Nombre</th>
                                                                    <th>NoTelefono</th>
                                                                    <th>Direccion</th>
                                                                    <th>Acciones</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>

                                                                @foreach (var datos in Model)
                                                                {
                                                                    <tr>
                                                                        <td>@datos.IdProveedor</td>
                                                                        <td>@datos.NombreProveedor</td>
                                                                        <td>@datos.Telefono</td>
                                                                        <td>@datos.Dirección</td>
                                                                        <td>
                                                                            <a class="btn btn-primary d-none d-sm-inline-block text-white btnEditar" data-toggle="modal" data-target="#modal-proveedor" data-index='"+datos.Idproveedor+"'>
                                                                                <i class="feather icon-edit-1 text-white"></i>

                                                                            </a>
                                                                            <a class="btn bg-warning d-sm-inline-block text-white btn-baja" data-index=@datos.IdProveedor>
                                                                                <i class="feather icon-trash text-white"></i>

                                                                            </a>
                                                                        </td>
                                                                    </tr>

                                                                }

                                                            </tbody>

                                                        </table>

                                                        <!--barra navegacion entre tabla-->
                                                        <div class="row">
                                                            <div class="col-md-6 align-self-center">
                                                                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Mostrando 1 de 5 </p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                                                    <ul class="pagination">
                                                                        <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                                                    </ul>
                                                                </nav>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <!-- footer -->
                                        @RenderPage("~/Views/Shared/Layout_footer.cshtml")

                                    </div>
                                </div>

                                <div id="styleSelector">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

@section scripts{

    <script src="~/js/Proveedor.jsv=@DateTime.Now.Second.ToString()"></script>
    <script type="text/javascript">

        $(function () {
            
            $("#infoProveedor tr td .btnEditar").click(function () {
                
                
                console.log("click en editar");
               
                $("#nombre-proveedor").val($(this).parent().parent().children()[1].innerHTML);
                $("#telefono").val($(this).parent().parent().children()[2].innerHTML);
                $("#direccion").val($(this).parent().parent().children()[3].innerHTML);
                
            });

            $("#infoProveedor tr td .btn-baja").click(function () {

                var id = $(this).parent().parent().children()[0].innerHTML;
                
                console.log(id);
         
            });


        });
        //cargar datos en el modal


        function updateProveedor() {
            $ajax({
                type: "POST",
                url: "",
                data: ,
                dataType: 'application/json; charset=utf-8',
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status + " \n " + xhr.responseText, "\n" + thrownError);
                },
                success: function () {

                }
            });
        }


    </script>

   


}