@model List<SFI_Farmacia_Jully.Models.Entity.ProductoE>
@{
    ViewBag.Title = "Carrito";
}

<body>

   
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            @RenderPage("~/Views/Shared/Layout_header.cshtml")

            <!-- Sidebar inner chat end-->
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">

                    @RenderPage("~/Views/Shared/Layout_aside.cshtml")

                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                              
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="txt-primary">Factura</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                        
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- task, page, download counter  start -->
                                                <div class="row">

                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <h5 class="form-label text-black" for="registro-docentes">
                                                                <strong>Cajero: </strong> @ViewBag.NombreUsuario<br />

                                                            </h5>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">

                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="registro-docentes"><strong>No. Factura:  </strong><br /></label><br />
                                                            <label class="form-label"><strong id="NoFactura">@ViewBag.NoFactura</strong></label>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="registro-docentes"><strong>Tipo de pago</strong></label>
                                                            <select class="form-control" name="select-cargo" id="select-pago" required>
                                                                <option value="1">Efectivo</option>
                                                                <option value="2">Tarjeta de credito/debito</option>

                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="card-body">
                                                    <!--tabla para informacion de cursos -->
                                                    <div class="table-responsive table  mt-2" id="tabladetalle" role="grid">

                                                        <table class="table my-0 table-bordered table-striped mb-0" id="infodetalle">
                                                            <thead>
                                                                <tr>
                                                                    <th>Codigo</th>
                                                                    <th>Descripción</th>
                                                                    <th>Precio</th>
                                                                    <th>Cantidad</th>
                                                                    <th>Valor</th>
                                                                    <th>Remover</th>
                                                                </tr>
                                                            </thead>
                                                           <tbody>
                                                               <tr></tr>
                                                           </tbody>

                                                        </table>



                                                    </div>
                                                </div>

                                                <br />

                                                <form>

                                                    <div class="row">

                                                        <div class="col">
                                                        </div>
                                                        <div class="col">

                                                        </div>
                                                        <div class="col">

                                                        </div>
                                                        <div class="col">

                                                        </div>
                                                        <div class="col">
                                                            
                                                        </div>
                                                        <div class="col">
                                                            <label>Total </label>
                                                            <input class="form-control" id="total-ventas" name="pnombre-docente" value="0" required />

                                                        </div>

                                                        <div class="col">
                                                            
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="row">

                                                        <div class="col">
                                                        </div>
                                                        <div class="col">

                                                        </div>
                                                        <div class="col">

                                                        </div>
                                                        <div class="col">

                                                        </div>
                                                        <div class="col">

                                                        </div>
                                                        <div class="col">
                                                           
                                                        </div>

                                                        <div class="col">

                                                        </div>

                                                    </div>
                                                </form>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <a class="btn btn-primary d-none d-sm-inline-block text-white efectuar" data-dismiss="modal">
                                                        Efectúar
                                                    </a>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                                <div class="page-wrapper">

                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <h5 class="text-primary m-0 fw-bold">Seleccionar Producto</h5>
                                            
                                        </div>
                                        <div class="modal-body">
                                            <form id="form-producto">

                                                <div class="row">

                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="registro-docentes"><strong>Codigo </strong><br /></label>
                                                            <input class="form-control" id="IdMed" name="Idmedicamento" type="hidden" />
                                                            <input class="form-control" id="codigo" name="pnombre-docente" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="registro-docentes"><strong>Nombre</strong><br /></label>
                                                            <input class="form-control" id="nombre" name="snombre-docente" readonly />
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="row">

                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="registro-docentes"><strong>Precio</strong><br /></label>
                                                            <input class="form-control" id="precio" name="snombre-docente" readonly />
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="registro-docentes"><strong>Cantidad actual</strong><br /></label>
                                                            <input class="form-control" id="cantidad-actual" name="pnombre-docente" value="" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="registro-docentes"><strong>Cantidad vendida</strong><br /></label>
                                                            <input class="form-control" id="cantidad-vendida" name="snombre-docente" />
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="mb-3">
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-round bg-c-blue feather icon-shopping-cart" data-toggle="modal" data-target="#exampleModal">
                                                        Carrito
                                                    </button>
                                                    <button class="btn btn-primary btn-round feather icon-plus" type="button" id="btn-agregar-producto">Agregar </button>

                                                </div>

                                            </form>
                                            <br />

                                            <div class="card-shadow mb-auto">

                                                <div class="card-body">

                                                    <!--tabla para informacion de cursos -->
                                                    <div class="table-responsive table mt-2" id="tblbuscar" role="grid">

                                                        <table class="table my-0 text-center display nowrap table-bordered table-striped" id="InfoProducto" style="width:100%">

                                                            <thead class="align-center">

                                                                <tr>
                                                                    <th>IdMedicamento</th>
                                                                    <th>Codigo</th>
                                                                    <th>Nombre del Producto</th>
                                                                    <th>Unidad de Medida</th>
                                                                    <th>Presentacion</th>
                                                                    <th>Precio</th>
                                                                    <th>Cantidad</th>
                                                                    <th>Seleccionar</th>
                                                                    <th>AccionFarmacologica</th>
                                                                    <th>Laboratorio</th>
                                                                </tr>
                                                                
                                                            </thead>

                                                            <tbody>
                                                                @foreach (var datos in Model)
                                                                {
                                                                    <tr>
                                                                        <td>@datos.IdMedicamento</td>
                                                                        <td>@datos.Codigo</td>
                                                                        <td>@datos.Nombre</td>
                                                                        <td>@datos.UnidadMedida</td>
                                                                        <td>@datos.Presentacion</td>
                                                                        <td>@datos.Precio</td>
                                                                        <td>@datos.CantidadDisponible</td>
                                                                        <td>
                                                                            <a class="btn btn-primary d-none d-sm-inline-block text-white btnAgregar" data-toggle="modal" data-target="#modal-proveedor" data-index='"+datos.Idproveedor+"'>
                                                                                <i class="feather icon-edit-1 text-white"></i>

                                                                            </a>

                                                                        </td>
                                                                        <td>@datos.AccionFarmacologica</td>
                                                                        <td>@datos.Laboratorio</td>
                                                                    </tr>
                                                                }

                                                            </tbody>

                                                        </table>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                    <br />
                                   

                                    <!-- footer -->
                                    @RenderPage("~/Views/Shared/Layout_footer.cshtml")


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>


@section scripts{

    <script src="~/js/Proveedor.jsv=@DateTime.Now.Second.ToString()"></script>
    <script type="text/javascript">

        $(function () {

            $(document).ready(function () {
                $('#InfoProducto').DataTable({
                    responsive: true
                });

            });

            $(document).ready(function () {
                $('#infodetalle').DataTable({
                    responsive: true
                });

            });

            $(".efectuar").click(function () {

                console.log("click en guardar");
                let tabla = document.getElementById('infodetalle');
                let filas = tabla.getElementsByTagName('tr');
                let NoFact = document.getElementById('NoFactura'); 
                let IdTipoPago = document.getElementById('select-pago');

                console.log(filas.length);
                if (filas.length > 2) {

                    var i;

                    let productos = [];

                    for (i = 2; i < filas.length; i++) {

                        let producto = {
                            "NoFactura": NoFact.innerHTML,
                            "TipoPago": IdTipoPago.value,
                            "IdProducto" : filas[i].cells[0].innerHTML,
                            "Cantidad" : filas[i].cells[3].innerHTML,
                            "Precio" : filas[i].cells[4].innerHTML
                        };
                       
                        console.log(producto.NoFactura);
                        console.log(producto.Codigo);
                        console.log(producto.Cantidad);
                        console.log(producto.Precio);

                        productos.push(producto);

                    }

                    console.log(productos);

                    var params = JSON.stringify(productos);

                    $.ajax({
                        type: "POST",
                        data: params,
                        url: "/Ventas/GuardarVenta",
                        contentType: "application/json;charset=utf-8",
                        success: function (response) {

                            if (response.result == 'Problema') {
                                alert("Resultado incorrecto");
                            }
                            else if (response.result == 'Redirect') {
                                
                               
                                swal(
                                    'exito',
                                    'Compra agregadas',
                                    'success'
                                )
                                window.location = response.url;
                            }
                        },
                        error: function (xhr, thrownError) {
                            console.log(xhr.status + " \n " + xhr.responseText, "\n" + thrownError);
                        }
                    });

                } else {
                    swal(
                        'error',
                        'agrege productos a la factura',
                        'error'
                    );
                }

                

            });

            //evento para agregar producto a la tabla detalle
            $("#btn-agregar-producto").click(function () {

                var Id = document.getElementById('IdMed').value;
                console.log("dentro de insertar");
                var codigo = document.getElementById('codigo').value;
                var nombre = document.getElementById('nombre').value;
                var precio = document.getElementById('precio').value;
                var cantidad = document.getElementById('cantidad-vendida').value;

                if (codigo !== "" || nombre !== "" || precio !== "" || cantidad !== "") {

                    if (parseInt(cantidad) <= parseInt(document.getElementById('cantidad-actual').value)) {

                        //calcular el total
                        total = document.getElementById('total-ventas').value;
                        var totalfinal = 0;
                        totalfinal += Number.parseFloat(total) + (Number.parseFloat(precio) * Number.parseFloat(cantidad));

                        $("#total-ventas").val(totalfinal);

                        //insertar en la tabla
                        Insertar(codigo, nombre, precio, cantidad);
                        //
                        Limpiar();

                    } else if (parseInt(cantidad) <= 0) {
                        //alert("la cantidad debe ser mayor a 0");
                        swal(
                            'error',
                            'la cantidad debe ser mayor a 0',
                            'error'
                        );
                    } else {

                        alert("no existe la cantidad que se desea vender");
                    }
                    
                } else {
                    //alert("no se puede agregar");
                    swal(
                        'error',
                        'Completa los campos',
                        'error'
                    );
                }
                
            });

            //evento de la tabla de busqueda de productos
            $("#InfoProducto tr td .btnAgregar").click(function () {

                
                $("#codigo").val($(this).parent().parent().children()[0].innerHTML);
                $("#nombre").val($(this).parent().parent().children()[2].innerHTML);
                $("#precio").val($(this).parent().parent().children()[5].innerHTML);
                $("#cantidad-actual").val($(this).parent().parent().children()[6].innerHTML);

            });

        });

        function Insertar(codigo, nombre, precio, cantidad) {

            //obtenr la referencia de la tabla detalle
            let tbldatos = document.getElementById('infodetalle').insertRow(-1);
            //obtener los indices de las celdas 
            let col1 = tbldatos.insertCell(0);
            let col2 = tbldatos.insertCell(1);
            let col3 = tbldatos.insertCell(2);
            let col4 = tbldatos.insertCell(3);
            let col5 = tbldatos.insertCell(4);
            let col6 = tbldatos.insertCell(5);

            //obtener el subtotal del producto
            var subtotal = parseFloat(precio) * parseInt(cantidad, 10);
            console.log(subtotal);
            //agregar los elementos a la tabla detalle
            col1.innerHTML = codigo;
            col2.innerHTML = nombre;
            col3.innerHTML = precio;
            col4.innerHTML = cantidad;
            col5.innerHTML = String(subtotal);
            col6.innerHTML = "<a class='btn bg-warning d-sm-inline-block btn-baja-detalle' onclick='eliminar()'><i class='feather icon-trash text-white'></i></a>";

        }

        //eventso de la tabla detalle de venta

        function editar() {
            
            console.log("dentro de editar");
            let tabla = document.getElementById('infodetalle');
            let elemento = tabla.getElementsByTagName("td");
            console.log(elemento[0].innerHTML);

        }

        function eliminar() {

            var target1 = event.target;

            total = document.getElementById('total-ventas').value;
            var totalfinal = 0;
            var eliminartotal = target1.parentNode.parentNode.children[4].innerHTML;

            totalfinal = Number.parseFloat(total) - Number.parseFloat(eliminartotal);
            $("#total-ventas").val(totalfinal);
            //eliminar fila
            event.target.parentNode.parentNode.remove();

        }

        function Limpiar() {
            const form = document.getElementById("form-producto");
            form.reset();
        }

    </script>
}

