@model List<SFI_Farmacia_Jully.Models.Entity.ClienteE>
@{
    ViewBag.Title = "AgregarCliente";
}

<body>

    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            @RenderPage("~/Views/Shared/Layout_header.cshtml")

            <!-- Sidebar inner chat end-->
            <div class="pcoded-main-container">

                <div class="pcoded-wrapper">

                    @RenderPage("~/Views/Shared/Layout_aside.cshtml")

                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-body">
                                        <!-- task, page, download counter  start -->

                                        <button class="btn btn-primary d-none d-sm-inline-block" data-toggle="modal" data-target="#modal-cliente">
                                            Registrar Cliente
                                        </button>
                                        <br />

                                        <div class="modal fade" id="modal-cliente" tabindex="-1">
                                            <div class="modal-dialog bg-white">
                                                <div class="modal-header">

                                                    <p class="text-primary m-0 fw-bold">Registrar Cliente</p>

                                                </div>
                                                <div class="modal-body">
                                                    <form action="~/Cliente/Agregar" method="post">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="registro-docentes"><strong>Primer Nombre</strong><br /></label>
                                                                    <input type="hidden" id="codigo-cliente" name="IdCliente" />
                                                                    <input class="form-control" id="PNombre" name="PNombre" required />
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="registro-docentes"><strong>Segundo Nombre</strong><br /></label>
                                                                    <input class="form-control" id="SNombre" name="SNombre" />
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="registro-docentes"><strong>Primer Apellido</strong></label>
                                                                    <input class="form-control" type="text" name="PApellido" id="PApellido" required>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="registro-docentes"><strong>Segundo Apellido</strong></label>
                                                                    <input class="form-control" type="text" name="SApellido" id="SApellido">
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="row">


                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="registro-docentes"><strong>No.Telefono</strong></label>
                                                                    <input class="form-control" type="text" name="NumTelefono" id="NumTelefono" required>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">

                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="registro-docentes"><strong>Dirección</strong></label>
                                                                    <textarea class="form-control" name="Direccion" id="Direccion" cols="30" rows="4"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <button class="btn btn-primary" type="submit" name="btn-registro-docente" id="btn-registro-docente">Guardar </button>

                                                            <button class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                        </div>

                                                    </form>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="card-shadow mb-5">
                                            <div class="card-header py-3">
                                                <h6 class="text-primary fw-bold m-0">Lista de Clientes</h6>
                                            </div>
                                            <div class="card-body">
                                                <!--tabla para informacion de cursos -->
                                                <div class="table-responsive table mt-2" id="tablaCursos" role="grid">

                                                    <table class="table my-0" id="infoCliente">

                                                        <thead>
                                                            <tr>
                                                                <th>Codigo</th>
                                                                <th>P.Nombre</th>
                                                                <th>S.Nombre</th>
                                                                <th>P.Apellido</th>
                                                                <th>S.Apellido</th>
                                                                <th>NoTelefono</th>
                                                                <th>Direccion</th>
                                                                <th>Acciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var datos in Model)
                                                            {
                                                                <tr>
                                                                    <td>@datos.IdCliente</td>
                                                                    <td>@datos.PNombre </td>
                                                                    <td>@datos.Snombre</td>
                                                                    <td>@datos.PApellido</td>
                                                                    <td>@datos.SApellido</td>
                                                                    <td>@datos.Celular</td>
                                                                    <td>@datos.Direccion</td>
                                                                    <td>
                                                                        <a class="btn btn-primary d-none d-sm-inline-block text-white btnEditar" data-toggle="modal" data-target="#modal-cliente">
                                                                            <i class="feather icon-edit-1 text-white"></i>

                                                                        </a>
                                                                        <a class="btn bg-warning d-sm-inline-block text-white btn-baja">
                                                                            <i class="feather icon-trash text-white"></i>

                                                                        </a>
                                                                    </td>
                                                                </tr>

                                                            }
                                                        </tbody>

                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- footer -->
                                        @RenderPage("~/Views/Shared/Layout_footer.cshtml")

                                    </div>
                                </div>

                               
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</body>


@section scripts{

    <script src="~/js/Proveedor.jsv=@DateTime.Now.Second.ToString()"></script>
    <script type="text/javascript">

        $(function () {


            $(document).ready(function () {
                $('#infoCliente').DataTable({
                    responsive: true
                });

            });

            $("#infoCliente tr td .btnEditar").click(function () {

                $("#codigo-cliente").val($(this).parent().parent().children()[0].innerHTML);
                $("#PNombre").val($(this).parent().parent().children()[1].innerHTML);
                $("#SNombre").val($(this).parent().parent().children()[2].innerHTML);
                $("#PApellido").val($(this).parent().parent().children()[3].innerHTML);
                $("#SApellido").val($(this).parent().parent().children()[4].innerHTML);
                $("#NumTelefono").val($(this).parent().parent().children()[5].innerHTML);
                $("#Direccion").val($(this).parent().parent().children()[6].innerHTML);

            });

            $("#infoCliente tr td .btn-baja").click(function () {

                var id = $(this).parent().parent().children()[0].innerHTML;
                BajaCliente(id);
            });


        });

        function BajaCliente(id) {

            var params = JSON.stringify({ IdCliente: id });
            $.ajax({
                type: "POST",
                data: params,
                url: "/Cliente/Baja",
                contentType: "application/json;charset=utf-8",
                success: function (response) {

                    if (response.result == 'ProblemaBaja') {
                        console.log("datso incorrectos para dar baja al cliente");
                    }
                    else if (response.result == 'Redirect') {

                        swal(
                            'exito',
                            'Cambio Registrado!',
                            'success'
                        )

                        window.location = response.url;
                    }
                },
                error: function (xhr, thrownError) {
                    console.log(xhr.status + " \n " + xhr.responseText, "\n" + thrownError);
                }
            });
        }


    </script>
}
