@model List<SFI_Farmacia_Jully.Models.Entity.ProductoE>
@{
    ViewBag.Title = "AgregarProducto";
}
<body>

    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            @RenderPage("~/Views/Shared/Layout_header.cshtml")

            <!-- Sidebar inner chat end-->
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">

                    @RenderPage("~/Views/Shared/Layout_aside.cshtml")
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="text-primary m-0 fw-bold">Registrar</h5>

                                        </div>
                                        <div class="modal-body">
                                            <div class="page-body">
                                                <!-- task, page, download counter  start -->
                                                <div class="card-body">

                                                    <form id="form-producto">
                                                        <div class="row">

                                                            <div class="col">
                                                            </div>
                                                            <div class="col">
                                                            </div>
                                                            <div class="col">
                                                                <div class="mb-3">

                                                                    <label class="form-label" for="registro-docentes"><strong>Tipo de producto</strong></label>
                                                                    <select class="form-control" name="Tipo" id="tipo-producto" required>
                                                                        <option value="1">Medicamento</option>
                                                                        <option value="2">Miscelaneos</option>

                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        
                                                        <div class="row">

                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="registro-docentes"><strong>Nombre del producto</strong><br /></label>
                                                                    <input class="form-control" id="nombre" name="NombreProducto" required />
                                                                    <input type="hidden" class="form-control" id="idmedicamento" />
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="registro-docentes"><strong>Unidad de Medida</strong><br /></label>
                                                                    <input class="form-control" id="unidad_medida" name="UnidadMedida" required />
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="registro-docentes"><strong>Descripcion</strong></label>
                                                                    <textarea class="form-control" name="descripcion" id="descripcion" cols="30" rows="4"></textarea>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="row">

                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="registro-docentes"><strong>Precio </strong><br /></label>
                                                                    <input class="form-control" id="precio" name="Precio" required />
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="registro-docentes"><strong>Cantidad</strong><br /></label>
                                                                    <input class="form-control" id="cantidad" name="CantDisp" required />
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="registro-docentes"><strong>Cantidad Minima</strong><br /></label>
                                                                    <input class="form-control" id="cantidadminima" name="CantMinima" required />
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="registro-docentes"><strong>Laboratorio</strong></label>
                                                                    @Html.DropDownList("CboLaboratorio", null, "Selecciona", new { @class = "form-control", @name = "CboLaboratorio", @id = "cbolab" })

                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="registro-docentes"><strong>Accion Farmacologica</strong></label>
                                                                    @Html.DropDownList("CboAccionFarm", null, "Selecciona", new { @class = "form-control", @name = "CboAccionFarm", @id = "cboAF" })

                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="registro-docentes"><strong>Presentación</strong></label>
                                                                    @Html.DropDownList("CboPresentacion", null, "Selecciona", new { @class = "form-control", @name = "CboPresentacion", @id = "cbopresent" })

                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="mb-3"><button class="btn btn-primary btn-sm" type="button" name="btn-registro-docente" id="btn-registro-docente" onclick="Guardar()">Agregar producto</button></div>

                                                    </form>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <br />

                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <h6 class="text-primary fw-bold m-0">Lista de productos</h6>

                                        </div>
                                        <div class="modal-body">
                                            <div class="page-body">
                                                <!-- task, page, download counter  start -->
                                                <div class="card-body">
                                                    <div class="card-shadow mb-5">
                                                       
                                                        <div class="card-body">


                                                            <!--tabla para informacion de cursos -->
                                                            <div class="table-responsive table mt-1" id="tabla" role="grid">


                                                                <table class="table my-0 text-center display nowrap" id="InfoProducto" style="width:100%">

                                                                    <thead class="align-center">

                                                                        <tr>
                                                                            <th>Codigo</th>
                                                                            <th>Nombre del Producto</th>
                                                                            <th>Unidad de Medida</th>
                                                                            <th>Presentacion</th>
                                                                            <th>Laboratorio</th>
                                                                            <th>Acciones</th>
                                                                            <th>Accion Farmacologica</th>
                                                                        </tr>

                                                                    </thead>


                                                                </table>


                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <!-- footer -->
                                    @RenderPage("~/Views/Shared/Layout_footer.cshtml")

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

@section scripts{

    <script src="~/js/Proveedor.jsv=@DateTime.Now.Second.ToString()"></script>
    <script type="text/javascript">
        var tabla_persona;

        $(function () {

            $(document).ready(function () {

                tabla_persona = $('#InfoProducto').DataTable({
                    "ajax": {
                        "url": "@Url.Action("Listar", "Inventario")",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "Codigo" },
                        { "data": "Nombre" },
                        { "data": "UnidadMedida" },
                        { "data": "Presentacion" },
                        { "data": "Laboratorio" },
                        {
                            "data": "IdMedicamento", "render": function (data) {
                                return "<a class='btn btn-primary d-none d-sm-inline-block text-white btnEditar' onclick='Editar(" + data + ")'><i class='feather icon-edit-1 text-white'></i></a>" +
                                    "<a class='btn bg-warning d-sm-inline-block text-white btn-baja' onclick='BajaProducto(" + data + ")'><i class='feather icon-trash text-white'></i></a>"
                            },
                            "orderable": false,
                            "searchable": false,
                            "width": "150px"
                        },
                        { "data": "AccionFarmacologica" }

                    ],
                });

            });

        });

        function Guardar() {

            var params = {
                p: {
                    IdMedicamento: $("#idmedicamento").val(),
                    Nombre: $("#nombre").val(),
                    TipoPoducto: $("#tipo-producto").val(),
                    UnidadMedida: $("#unidad_medida").val(),
                    Descripcion: $("#descripcion").val(),
                    Precio: parseFloat($("#precio").val()),
                    CantidadDisponible: $("#cantidad").val(),
                    CantidadMinima: $("#cantidadminima").val(),
                    IdLaboratorio: $("#cbolab").val(),
                    IdAccionFarmacologica: $("#cboAF").val(),
                    IdPresentacion: $("#cbopresent").val()
                }

            }

            jQuery.ajax({
                type: "POST",
                data: JSON.stringify(params),
                url: "@Url.Action("Agregar", "Inventario")",
                contentType: "application/json;charset=utf-8",
                success: function (data) {

                    console.log(data);
                    if (data.result == false) {
                        console.log("los datos son incorrectos");
                    }
                    else if (data.result == true) {

                        swal(
                            'exito',
                            'Cambio Registrado!',
                            'success'
                        )
                        tabla_persona.ajax.reload();
                        const form = document.getElementById("form-producto");
                        form.reset();
                    }
                },
                error: function (xhr, thrownError) {
                    console.log(xhr.status + " \n " + xhr.responseText, "\n" + thrownError);
                }
            });
        }

        function Editar(codigo) {

            console.log(codigo);
            if (codigo != 0) {
                jQuery.ajax({
                    url: "@Url.Action("DatosEditar", "Inventario")" + "?Codigo=" + codigo,
                    type: "GET",
                    datatype: "json",
                    contentType: "application/json",
                    success: function (data) {


                        if (data != null) {

                            $("#idmedicamento").val(data.data.IdMedicamento);
                            $("#nombre").val(data.data.Nombre);
                            $("#unidad_medida").val(data.data.UnidadMedida);
                            $("#precio").val(data.data.Precio);
                            $("#cantidad").val(data.data.CantidadDisponible);

                        } else {
                            console.log("no se puede mostrar");
                        }
                    },
                    error: function (xhr, thrownError) {
                        console.log(xhr.status + " \n " + xhr.responseText, "\n" + thrownError);
                    }
                });
            } else {
                $("#nombre").val("");
                $("#unidad_medida").val("");
                $("#precio").val("");
                $("#cantidad").val("");

            }

        }

        function BajaProducto(id) {

            var params = JSON.stringify({ IdMedicamento: id});
            $.ajax({
                type: "POST",
                data: params,
                url: "@Url.Action("Baja", "Inventario")",
                contentType: "application/json;charset=utf-8",
                success: function (response) {

                    if (response.result == true) {
                        swal(
                            'exito',
                            'Baja completada!',
                            'success'
                        )
                        tabla_persona.ajax.reload();
                    }
                    else {
                        swal(
                            'Baja',
                            'no se completo la baja',
                            'error'
                        )
                    }
                },
                error: function (xhr, thrownError) {
                    console.log(xhr.status + " \n " + xhr.responseText, "\n" + thrownError);
                }
            });
        }

    </script>

}