@model List<SFI_Farmacia_Jully.Models.Entity.ProductoE>
@{
    ViewBag.Title = "Buscar";
}
<div class="modal fade" id="modal-ventas" tabindex="-1">
    <div class="modal-dialog modal-xl bg-white">
        <div class="modal-content">
            <div class="modal-header">

                <p class="text-primary m-0 fw-bold">Seleccionar Producto</p>

            </div>
            <div class="modal-body">
                <form id="form-producto">

                    <div class="row">

                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="registro-docentes"><strong>Codigo </strong><br /></label>
                                <input class="form-control" id="IdMed" name="Idmedicamento" type="hidden" />
                                <input class="form-control" id="codigo" name="pnombre-docente" readonly />
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="registro-docentes"><strong>Nombre</strong><br /></label>
                                <input class="form-control" id="nombre" name="snombre-docente" readonly />
                            </div>
                        </div>


                    </div>
                    <div class="row">

                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="registro-docentes"><strong>Precio</strong><br /></label>
                                <input class="form-control" id="precio" name="snombre-docente" readonly />
                            </div>
                        </div>

                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="registro-docentes"><strong>Cantidad actual</strong><br /></label>
                                <input class="form-control" id="cantidad-actual" name="pnombre-docente" value="" readonly />
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="registro-docentes"><strong>Cantidad</strong><br /></label>
                                <input class="form-control" id="cantidad-vendida" name="snombre-docente" />
                            </div>
                        </div>

                    </div>

                    <div class="mb-3">

                        <button class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary" name="btn-registro-docente" id="btn-agregar-producto" data-dismiss="modal">Agregar </button>

                    </div>

                </form>


                <div class="card-shadow mb-auto">
                    <div class="card-header py-3">
                        <h6 class="text-primary fw-bold m-0">Lista de productos</h6>
                    </div>
                    <div class="card-body">


                        <!--tabla para informacion de cursos -->
                        <div class="table-responsive table mt-2" id="tblbuscar" role="grid">


                            <table class="table my-0 text-center display nowrap" id="InfoProducto" style="width:100%">

                                <thead class="align-center">

                                    <tr>
                                        <th style="visibility:collapse; display:none;">IdMedicamento</th>
                                        <th>Codigo</th>
                                        <th>Nombre del Producto</th>
                                        <th>Presentacion</th>
                                        <th>AccionFarmacologica</th>
                                        <th>Laboratorio</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Acciones</th>
                                    </tr>

                                </thead>

                                <tbody>
                                    @foreach (var datos in Model)
                                    {
                                        <tr>
                                            <td style="visibility:collapse; display:none;">@datos.IdMedicamento</td>
                                            <td>@datos.Codigo</td>
                                            <td>@datos.Nombre</td>
                                            <td>@datos.Presentacion</td>
                                            <td>@datos.AccionFarmacologica</td>
                                            <td>@datos.Laboratorio</td>
                                            <td>@datos.Precio</td>
                                            <td>@datos.CantidadDisponible</td>
                                            <td>
                                                <a class="btn btn-primary d-none d-sm-inline-block text-white btnAgregar" data-toggle="modal" data-target="#modal-proveedor" data-index='"+datos.Idproveedor+"'>
                                                    <i class="feather icon-edit-1 text-white"></i>

                                                </a>

                                            </td>
                                        </tr>
                                    }

                                </tbody>

                            </table>


                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

